PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

R2_ACCOUNT_ID=your_account_id
R2_ACCESS_KEY_ID=your_access_key_id
R2_SECRET_ACCESS_KEY=your_secret_access_key
R2_BUCKET_NAME=sgroup-be
R2_ENDPOINT=https://0f1c1b58e5ba777716d4eda79636c771.r2.cloudflarestorage.com
R2_PUBLIC_BASE_URL=https://pub-5506952c8c9942459295e4787dca9e5a.r2.dev
UPLOAD_MAX_FILE_SIZE=10485760
